<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Projeto 1 - Resenha Filme</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <meta name="description" content="Use this HTML basic website liquid, secondary fixed-width column layout template with the navigation menu on the left, the main content at the center, the extra stuff on the right.">
    <meta name="generator" content="HAPedit 3.1">
    <link rel="canonical" href="https://www.w3docs.com/snippets/html/layout_templates/13.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="HTML FlexBox Template - Liquid, secondary fixed-width columns, centered content" />
    <meta property="og:description" content="Use this HTML basic website liquid, secondary fixed-width column layout template with the navigation menu on the left, the main content at the center, the extra stuff on the right." />
    <meta property="og:image" content="https://www.w3docs.com/build/images/logo-amp.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="192" />
    <meta property="og:image:height" content="192" />
    <meta property="og:image:alt" content="W3dcos" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            color: #292929;
            font: 90% Roboto, Arial, sans-serif;
            font-weight: 300;
        }

        p {
            padding: 0 10px;
            line-height: 1.8;
        }

        ul li {
            padding-right: 10px;
            line-height: 1.6;
        }

        h3 {
            padding: 5px 20px;
            margin: 0;
        }

        div#header {
            position: relative;
        }

        div#header h1 {
            height: 80px;
            line-height: 80px;
            margin: 0;
            padding-left: 10px;
            background: #e0e0e0;
            color: #292929;
        }

        div#header a {
            position: absolute;
            right: 0;
            top: 23px;
            padding: 10px;
            color: #006;
        }

        div#navigation {
            background: #7cb71c;
        }

        div#navigation li {
            list-style: none;
        }

        div#extra {
            background: #147FA9;
        }

        div#footer {
            background: #42444e;
            color: #fff;
        }

        div#footer p {
            padding: 20px 10px;
        }

        div#wrapper {
            float: left;
            width: 100%;
        }

        div#content {
            margin: 0 200px;
        }

        div#navigation {
            float: left;
            width: 200px;
            margin-left: -100%;
        }

        div#extra {
            float: left;
            width: 200px;
            margin-left: -200px;
        }

        div#footer {
            clear: left;
            width: 100%;
        }
    </style>

</head>
<body>
<div id="container">
    <div id="header">
        <h1>Projeto 1</h1>
    </div>
    <div id="wrapper">
        <div id="content">
            <p><strong>1. Página Inicial</strong></p>
            <h3>Exemplo 1 </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Quisque accumsan feugiat odio quis aliquet. Vivamus
				pellentesque mollis velit accumsan commodo. Etiam suscipit nec lectus vehicula commodo. 
				Morbi mollis ac lorem at venenatis. Nulla vitae felis molestie, finibus nisl non, pulvinar quam. 
                Proin eleifend nisi elit, vitae venenatis ipsum iaculis sit amet. 
				Mauris commodo tincidunt sem. Nullam dictum aliquam mauris sed blandit.
            </p>
            <h3>Exemplo 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Quisque accumsan feugiat odio quis aliquet. Vivamus
				pellentesque mollis velit accumsan commodo. Etiam suscipit nec lectus vehicula commodo. 
				Morbi mollis ac lorem at venenatis. Nulla vitae felis molestie, finibus nisl non, pulvinar quam. 
                Proin eleifend nisi elit, vitae venenatis ipsum iaculis sit amet. 
				Mauris commodo tincidunt sem. Nullam dictum aliquam mauris sed blandit.
            </p>
        </div>
    </div>
    <div id="navigation">
        <p><strong>2. Menu</strong></p>
        <h3>Links</h3>
        <ul>
			<li> <a href="pagina2">Publicar Resenha</a> </li>
            <li></li>
            <li>Listar publicações</li>
            <li></li>
            <li>Contato</li>
        </ul>
    </div>
    <div id="extra">
        <p><strong>3. Lançamentos</strong></p>
        <ul>
            <li>Resenha 1</li>
            <li>Resenha 2</li>
            <li>Resenha 3</li>
            <li>Resenha 4</li>
        </ul>
    </div>
    <div id="footer"><p>Roda pé</p>
    </div>
</div>
<script type="text/javascript">AddFillerLink("content", "navigation", "extra")</script>
</body>
</html>
